<!DOCTYPE HTML>
<html>
<head>
	<title>Cайт_Kolchin_Evgeniy</title>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class='header'>
			<div class='header1'>
				<a href='http://kolchin.pa.infobox.ru/php/product.php' target='_blank'><div class='fashion'>Fashion</div></a>
				<ul class='navig hidelist1'>
					<li><a href=''>HOME</a></li>
					<li><a href=''><div class='showlistArrow1'>WOMEN<div class='showlistArrow'>
						<div class='listappendfromhover'>
							<a href='http://wearesodroee.com/' target='_blank'><div class='listappendfromhoverli'>T-shirt</div></a>
							<a href='http://wearesodroee.com/' target='_blank'><div class='listappendfromhoverli'>Pants</div></a>
							<a href='http://wearesodroee.com/' target='_blank'><div class='listappendfromhoverli'>Coat</div></a>
						</div>
					</div>
					</div></a></li>
					<li><a href=''><div class='showlistArrow1'><div class='newhot newhot1'>MAN</div></div></a></li>
					<li><a href=''><div class='newhot newhot2'>SHORTCODE</div></a></li>
					<li><a href=''>BLOG</a></li>
					<li><a href=''>PAGES</a></li>
				</ul>
			</div>
		</div>
        
        <div class='header3'>
				<ul>
					<li><a href=''>My account</a></li>
					<li><a href=''>Checkout</a></li>
					<li><a href=''>Cart</a></li>
					<li><a href=''>Shop</a></li>
				</ul>
                <div class='row'></div>	
			</div>
        
        <hr>
    </div>    
        <div class='row'></div>
        
    <div class='picture41'>
        <div class='picture4'>COLLECTION OF THE WEEK</div>
    </div>
        
    <div class="wrapper">   
        <div id="block" class="content">
            <div id="dynamic">
                <% data.forEach(function(datum) {%>
                    <div id=<%= "content"+datum.id %> class='rightblock'>
                        <div class='rightblock1 rightblock1_1'>
                            <img src='<%= datum.img_path %>' alt='woman'>
                            <a href='product.php' title='woman'><div class='rightblock10'></div></a>
                        </div>
                        <a href='product.php'><div class='watch1'><%= datum.watch1 %></div></a>
                        <div class='price1'><%= datum.price %></div>
                        <div class='row'></div>
                        <div class='del1' onclick="deleteEl(<%= datum.id %>)">delete</div>
                    </div>
                <% }); %>
            </div>
            <div class="row"></div>
            <input id="inp" type="text" value="image/sprite.png"/>
            <input id="inp1" type="text" value="$price"/>
            <input id="inp2" type="text" value="description"/>
            <div id='add' onclick="create()">Add new item</div>
        </div>
        
        <div class="row"></div>
    
        <div class='Up'>Up</div>
    </div>
    <script type="text/javascript">
        window.onscroll = function(){
            var html = document.documentElement, body = document.body;
            var BlkStyle = document.getElementById('block').style;
                if(html.scrollTop>415||body.scrollTop>415) {
                    BlkStyle.width="1215px";
                } 
                else BlkStyle.width="1015px";
            }
            
        function deleteEl(id){
            var request = new XMLHttpRequest();
            request.open('POST', '/delete?id=' +id);
            request.send();
            document.getElementById('content'+id).remove();
        }
        
        function create(){
            var img_path = document.getElementById('inp').value;
            var price = document.getElementById('inp1').value;
            var watch1 = document.getElementById('inp2').value;
            var request = new XMLHttpRequest();
            request.open('POST', '/new?img_path=' +img_path+ '&price='+price+ '&watch1='+watch1);
            request.send();
            var newDiv = document.createElement('div');
            var newDiv1 = document.createElement('div');
            var newDiv2 = document.createElement('div');
            var newDiv3 = document.createElement('div');
            var newDiv4 = document.createElement('div');
            var newDiv5 = document.createElement('div');
            var newImg = document.createElement('img');
            var newA = document.createElement('a');
           
           newDiv.className='rightblock';
            newDiv1.className='rightblock1 rightblock1_1';
            newDiv2.className='price1';
            newDiv3.className='row';
            newDiv4.className='del1';
            newDiv5.className='watch1';
            newImg.src=img_path;
            newA.href='';
            
            document.getElementById('dynamic').appendChild(newDiv);
            newDiv.appendChild(newDiv1);
            newDiv.appendChild(newA);
            newA.appendChild(newDiv5);
            newDiv.appendChild(newDiv2);
            newDiv.appendChild(newDiv3);
            newDiv.appendChild(newDiv4);
            newDiv1.appendChild(newImg);
            newDiv4.innerHTML="delete";
            newDiv2.innerHTML=price;
            newDiv5.innerHTML=watch1;
        }
    </script>
</body>
</html>